<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener class-name="Listeners.CustomListners" />
	</listeners>
	
  <test name="Bank Manager Login Test">
    <classes>
      <class name="TestCases.BankManagerLogin"/>
    </classes>  
  </test> <!-- Test -->
  
  <test name="Add Customer Test">
    <classes>
      <class name="TestCases.AddCustomer"/>
    </classes>  
  </test> <!-- Test -->
  
   <test name="Create Account Test">
    <classes>
      <class name="TestCases.CreateAccountTest"/>
    </classes>  
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
